*{
	margin: 0;
	padding: 0;
}
 
body{
	background-color: #10201a !important;	
}

.header{
}

.nav-wrapper{
	background-color: #121212;
	height: 100px;	
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	
}
.sidenav{
	background-color: #121212;
}
.sidenav li>a {
	color: #FFFFFF;	
}

.logo{
	height: 60px;
}
.icon-bar{
	background: darkorange; 
}

li a{
	color: white;

}

.tab-content{
	width: 800px ;
	max-width: 70%;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
	margin: 30px auto;
	
}

.tab-content div{
	margin: 15px auto;
	font-family: "Roboto", sans-serif;
	color: white;
	max-width: 90%;
}
 .tab-content div p{
 	text-align: justify;
 }
