*{
	margin: 0;
	padding: 0;
}
 
body{
	background-color: #10201a !important;	
}
.main{
	margin-top: 15px;
}
.nav-wrapper{
	background-color: #121212;
	height: 100px;	
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	padding-bottom: 10px;
	
}
.sidenav{
	background-color: #121212;
}
.sidenav li>a {
	color: #FFFFFF;	
}

.logo{
	height: 60px;
}
.material-icons, .card-action a{
	color: #00dc90 !important;		
}

li a{
	color: white;
}

.tab-pane{	
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
	margin: auto auto;

}

.tab-pane div{
	padding: 15px;
	margin: 15px auto;
	font-family: "Roboto", sans-serif;
	color: white;
	margin-top: 10px;
	
}
 .tab-pane div p{
 	text-align: justify;
 }

.card-content p{
	color: black !important;
}

.container{
	width: 90%;
}

.tab-pane p, .tab-pane h1{
	color: white;
}

.responsive-img{
	margin-top: 15px;
	margin-bottom: 15px;
}